@charset "UTF-8";

/* 共通部分 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hGroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hGroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
body {
  line-height: 1;
  font-family: 'M PLUS 1p', sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* HEADER */
.Header-Wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #fff;
  height: 60px;
  padding: 5px 15px;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 0 8px #222;
}
.Header-Logo {
  position: absolute;
  display: flex;
  left: 5%;
}
.Header-Logo img {
  border-radius: 50%;
}
.Header-Logo-Nav-Wrapper {
  margin: auto 0 auto 10px;
  color: #432;
}
.Header-Logo-Nav {
  font-size: 12px;
}
.Header-Logo-Title {
  font-size: 18px;
}
.Header-Logo-Info {
  font-size: 10px;
  padding-top: 10px;
}
.sp-nav {
  width: 32px;
  height: 32px;
  font-size: 32px;
  margin: auto 32px;
  text-align: center;
  cursor: pointer;
}
.pc-nav {
  display: none;
}
.pc-nav a {
  color: #432;
}
.sp-nav #open.hide {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 20;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.overlay #close {
  position: absolute;
  top: 18px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}
.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.overlay li {
  margin-top: 48px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}
.overlay a {
  color:#432;
}
.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay .sp-sns-icons {
  display: flex;
  justify-content: center;
}
.overlay .sp-sns-icons li {
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
}
.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .15s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .2s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .25s;
}
.overlay.show li:nth-child(5) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(6) {
  transition-delay: .35s;
}
.Top {
  padding-top: 71px;
  height: calc(100vh - 71px);
  background: linear-gradient(225deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)), url(../img/latte2.jpg) center center;
  background-repeat:  no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: #ddd solid 1px;
}
.Top-Wrapper {
  height: calc(100vh - 71px - 250px);
  position: relative;
  background: radial-gradient(ellipse at center, rgba( 255, 255, 255, .3) 20%,rgba( 255, 255, 255, .15) 40%,rgba( 255, 255, 255, 0) 100%),url(../img/Img3.jpeg) center center;
  background-repeat:  no-repeat;
  background-size: cover;
}

.Top-Title {  position: absolute;
  top: 80%;
  left: 40%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-size: 45px;
  color: #234;
  font-family: 'Dancing Script', cursive;
}
.Top-Title h1 {
  font-family: 'Dancing Script', cursive;
  color: #2f4f4f;
  text-shadow: 0 0  8px #fff;
  font-size: 60px;
}
.Top-CatchPhrase {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 16px;
  color: #432;
  background: rgba(255, 255, 255, 0.5);
  width: 350px;
  height: 30px;
  line-height: 30px;
  padding: 8px;
  text-align: center;
  border: 1px #ddd solid;
}
/* セクション共通 */
.Section-Title-BG {
  padding-top: 80px;
  padding-bottom: 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.Section-Title {
  font-size: 22px;
  letter-spacing: .08em;
}
/* コンセプト */
.Concept-Wrapper ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.Concept-Wrapper ul li {
  align-items: center;
}
.Photo {
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.Concept-Img1 {
  background-image: url(../img/latte1.jpg);
}
.Concept-Img2 {
  background-image: url(../img/latte2.jpg);
}
.Concept-Img3 {
  background-image: url(../img/iced_coffee.jpg);
}
.Concept-Img4 {
  background-image: url(../img/inside-cafe2.jpg);
}
.Box {
  width: 50%;
  padding-top: 50%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 22px;
  letter-spacing: .08em;
  opacity: 0.7;
}
.Odd-Box {
  right: 0;
}
.Even-Box {
  left: 0;
}
.Box1 {
  background: pink;
  color: fuchsia;
}
.Box2 {
  background: lightgreen;
  color: green;
}
.Box3 {
  background: skyblue;
  color: blue;
}
.Box4 {
  background: lightsalmon;
  color: brown;
}
.Box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.Txt {
  width: 100%;
  height: 400px;
}
.Txt h1 {
  font-size: 20px;
  letter-spacing: .08em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.Txt1 h1 {
  border-bottom: 3px solid pink;
}
.Txt2 h1 {
  border-bottom: 3px solid lightgreen;
}
.Txt3 h1 {
  border-bottom: 3px solid skyblue;
}
.Txt4 h1 {
  border-bottom: 3px solid lightsalmon;
}
.Txt p {
  padding-top: 10px;
  line-height: 22px;
}
/* メニュー */
.Menu-Wrapper {
  max-width: 800px;
  padding-left: 5%;
  padding-right: 5%;
}
.Menu h2 {
  font-size: 18px;
  border-bottom: solid #432 1px;
}
.Menu ul {
  padding: 3vh 5vh;
}
.Menu li {
  font-size: 16px;
  padding-bottom: 1vh;
}
.Menu li p {
  font-size: 14px;
}
.Menu-Nav {
  font-size: 12px;
  text-align: center;
}
/* アクセス */
.Access-Wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.Loc-Nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* ギャラリー */
.Gallery img {
  margin: 20px auto;
  display: block;
}
/* フッター */
.footer-BG {
  font-size: 16px;
  background: #111;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-BG li {
  margin: 30px;
  font-weight: lighter;
}
.Footer-Wrapper h1 {
  margin: 30px;
  color: #fff;
  font-weight: 400;
}
footer a {
  color: #fff;
}
.Footer-Nav {
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid gray;
}
.footer-sns-icons {
  display: flex;
  font-size: 20px;
}
.footer-sns-icons li {
  margin-right: 30px;
}
.Page-Top-Btn a {
  color: #222;
  display: block;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Copyright {
  text-align: center;
  color: #fff;
  margin-top: 40px;
  font-size: 14px;
}
/* PCサイト用レスポンシブ */
@media (min-width: 800px) {
  .pc-nav {
    display: flex;
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
  }
  .pc-nav ul {
    list-style-type: none;
    display: flex;
  }
  .pc-nav li {
    margin-left: 20px;
  }
  .pc-nav li a:hover{
    color: rgb(12, 146, 170);
    transition: .3s;
  }
  .sp-nav {
    display: none;
  }
  .Txt {
    width: 50%;
    height: 400px;
  }
  .Concept-Wrapper ul li .Photo {
    width: 50%;
    padding-top: 50%;
  }
  .Concept-Wrapper ul li {
    display: flex;
  }
  .Concept-Wrapper ul li:nth-child(even) {
   flex-direction: row-reverse;
  } 
  .Menu-Wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}